/* This is my main CSS file for the midterm assignment - MTM6201_010 - Web Development II */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================================== */
/* ============= Midterm Project - Prototype Assignment by Mark Daniels ============= */
/* ================================================================================== */

@font-face {
	font-family: 'Arima Madurai';
	src: url('../fonts/ArimaMadurai-Regular.ttf');
}

@font-face {
	font-family: 'Bubblegum Sans';
	src: url('../fonts/BubblegumSans-Regular.ttf');
}

@font-face {
	font-family: 'Shadows Into Light';
	src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Bold';
	src: url('../fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
	font-family: 'IBM Plex Sans Italic';
	src: url('../fonts/IBMPlexSans-Italic.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
}

/* ********************************************************* */
/* *************** Mobile Styling Begins Here ************** */

body {
	background-color: #F0C987;
}

header, footer {
	background-color: #36013F;
	margin: 0 auto;
}

a {
    text-decoration: none;
}

i, blockquote {
	color: #FFF;
	
}

#white {
	color: #FFF;
}

blockquote {
	font-family: 'Bubblegum Sans';
	width: 90%;
}

h2 {
	font-family: 'Montserrat';
	font-size: 20px;
}

h3 {
	font-family: 'Montserrat';
	font-size: 20px;
	color: #FFF;
}

.main-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	flex-direction: column;
  }
  
  .main-nav ul li {
	flex: 1;
	text-align: center;
  }
  
  .main-nav ul li a {
	display: block;
	color: #32CD32;
	font-family: 'Arima Madurai';
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
  }

  .footer-container {
	  display: flex;
	  justify-content: space-evenly;
	  align-items: center;
	  text-align: center;
	  align-content: center;
	  flex-direction: column;
  }

  .footer-container ul li a {
	display: block;
	color: #FFF;
	font-family: 'IBM Plex Sans';
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
  }

  #screenplay {
	  color: #F0C987;
	  font-size: 10px;
  }

  #subscribe {
	  color: #FFF;
	  font-family: 'IBM Plex Sans';
	  font-weight: bold;
	  font-size: 10px;
  }

  #email {
	  background-color: #36013F;
	  color: #FFF;
	  border-color: #FFF;
	  font-size: 10px;
  }

  #location-info {
	  color: #FFF;
  }

  .skip-links{
	list-style: none;
	margin: 0;
	padding: 0;
  }
  .skip-links a{
	position: absolute;
	top: -3em;
	background-color: black;
	color:white;
	padding: .5em 1em;
	font-weight: bold;
  }
  
  .skip-links a:focus{
	top: 0;
  }

  .welcome-content-container {
	background-color: #32CD32;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	align-self: center;
	height: 300px;
  }

  .weekly-flavour-one-container{
	color: #32CD32;
	background-color: #137547;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
  }

  .weekly-flavour-two-container {
	color: #32CD32;
	background-color: #36013F;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
	
  }

  .weekly-flavour-three-container {
	color: #F0C987;
	background-color: #054A29;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
  }

  .welcome-page-container {
	  background-color: #F0C987;
	  display: flex;
	  flex-direction: column;
  }

  address {
	  font-size: 10px;
  }

  .footer-font, .logo-copyright, .newsletter-subscription {
	padding-top: 5px;
	padding-bottom: 5px;
  }

  .animation-logo {
	  /* Animation element - logo */
  		animation-name: rotate;
  		transition: width 2s, height 2s, transform 2s;
  		transform: scale(1.0) rotate(0deg);
  		animation-duration: 0.5s;
  		animation-delay: 0s;
  		pointer-events: auto;
  }

  .animation-logo:hover {
		transform: scale(2.0);
  		transition: 0.5s;
	}

  .animation-logo:active {
		transform-origin: top right;
		transform: rotate(180deg) translate(-30px) rotate(180deg) rotateY(180deg) scale(0.25);
		opacity: 0;
		transition: 1s;
}

a:hover, button:hover {
	background-color: #137547;
	border: 1px solid #32CD32;
  }

  a:hover, button:hover .animation-logo {
		animation-name: rotate;
  		transition: width 2s, height 2s, transform 2s;
  		transform: scale(1.0) rotate(0deg);
  		animation-duration: 0.5s;
  		animation-delay: 0s;
  		pointer-events: auto;
  }
  
  
  /* selected link */
  a:active, button:active {
	color:  white;
	background-color: #054A29;
  }
  
  /* selected link */
  .main-nav li:active {
	color:  white;
	background-color: #054A29;
  }

  @keyframes rotate {
	from {
	  transform: rotateY(0deg);
	}
  
	to {
	  transform: rotateY(360deg);
	}
  }

 

/* *************** Mobile Styling Ends Here *************** */
/* ******************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Tablet Styling Begins Here *************** */

@media screen and (min-width: 600px) {

	.welcome-page-container {
		width: 600px;
		margin: 0 auto;
	}

	header, footer {
		width: 100%;
	}

	.main-nav ul {
		flex-direction: row;
		align-items: center;
	}

	.footer-container {
		flex-direction: row;
	}

} /* Tablet media screen bracket ends here */

/* **************** Tablet Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ********************************************************** */
/* *************** Desktop Styling Begins Here *************** */

@media screen and (min-width: 992px) {

	.welcome-page-container {
		width: 992px;
		margin: 0 auto;
	}

	.welcome-page-container {
		display: flex;
		flex-direction: row;
	}


} /* Desktop media screen bracket ends here */

/* **************** Desktop Styling Ends Here **************** */
/* ********************************************************** */


/* ---------------------------------------------------------------------------------- */


/* ******************************************************************** */
/* *************** Extended Desktop Styling Begins Here *************** */

@media screen and (min-width: 1920px) {

	.welcome-page-container {
		width: 1920px;
		margin: 0 auto;
	}

	header, footer {
		width: 1920px;
	}

} /* Extended Desktop media screen bracket ends here */


/* ******************************************************************** */
/* *************** Extended Desktop Styling Begins Here *************** */